@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap');

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: 
}

h1,h2,h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #F266AB;
}
a {
	text-decoration: none;
}

.form-container {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 20px;
}